* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: "Raleway";
}

header h1 {
  text-transform: uppercase;
}
header {
  border: solid 1px #d0d0d0;
  text-align: center;
}

ul.anchor-block {
  padding: 0;
  list-style: none;
}

ul.anchor-block li {
  display: inline-block;
  padding: 0 15px;
}

ul.anchor-block li a {
  color: #555;
  text-decoration: none;
}

#banner {
  background-image: url("../img/jane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#music {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

iframe {
  height: 360px;
  width: 640px;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 16px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
  }

  #music {
    padding: 0 20px;
  }
}

.about {
  text-align: center;
}

.phrase {
  font-weight: bold;
}

main {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.contact-name {
  font-weight: bold;
}
.contact-info {
  font-size: 14px;
  line-height: 24px;
  border-bottom-width: 5px;
  border-bottom: solid 1px #d0d0d0;
}
 @media (max-width: 768px){
   about {
     width: 100%;
   }
contact-name {
  width: 100%;
}

 }